<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.softwareengrproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddCourse"></activity>
        <activity android:name=".PrivacyMessages" />
        <activity android:name=".PrivacyNotif" />
        <activity android:name=".NotificationsScreen" />
        <activity
            android:name=".SettingsActivityPage"
            android:label="@string/title_settings_activity" />
        <activity android:name=".GradeDetail" />
        <activity android:name=".messengeractivity" />

        <receiver
            android:name=".ReminderReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>

        <activity android:name=".LoginScreen" />
        <activity android:name=".CalendarScreen" />
        <activity android:name=".ScreenRegister" />
        <activity android:name=".AccountScreen" />
        <activity android:name=".CoursesActivity" />
        <activity android:name=".CourseDetail" />
        <activity android:name=".InfoScreenFragment" />
        <activity android:name=".ToDoList" />
        <activity android:name=".HomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".AcctDB"
            android:authorities="com.example.softwareengrproject.provider"
            android:enabled="true"
            android:exported="true"
            android:permission="com.example.softwareengrproject.provider.ACCESS_PERMISSION"
            android:readPermission="android.permission.READ_EXTERNAL_STORAGE"
            android:writePermission="android.permission.WRITE_EXTERNAL_STORAGE" />
        <provider
            android:name=".CoursesDB"
            android:authorities="com.example.softwareengrproject.provider"
            android:enabled="true"
            android:exported="true"
            android:permission="com.example.softwareengrproject.provider.ACCESS_PERMISSION"
            android:readPermission="android.permission.READ_EXTERNAL_STORAGE"
            android:writePermission="android.permission.WRITE_EXTERNAL_STORAGE" />
        <provider
            android:name=".GradesDB"
            android:authorities="com.example.softwareengrproject.provider"
            android:enabled="true"
            android:exported="true"
            android:permission="com.example.softwareengrproject.provider.ACCESS_PERMISSION"
            android:readPermission="android.permission.READ_EXTERNAL_STORAGE"
            android:writePermission="android.permission.WRITE_EXTERNAL_STORAGE" />
    </application>

</manifest>